.video_container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

.video_cover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.overlayText {
  position: absolute;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
}

.overlayText h1 {
  font-size: 5rem;
  text-transform: uppercase;
  margin: 0;
}

.overlayText p {
  font-size: 1rem;
  opacity: 0.65;
  margin: 0;
}

.btnMain {
  padding: 0.85rem 4rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: white 0.5px solid;
  color: white;
  opacity: 0.8;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: 2rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.btnMain:hover {
  opacity: 1;
}

/* Story */
.storyContent {
  padding: 12rem 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.side {
  padding: 2rem;
  flex: 1;
}

.slideshow {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.slideImage {
  /* border-radius: .75rem; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.slideImage.active {
  opacity: 1;
}

/* Facts */
.aboutMatcha {
  padding: 7rem 17rem 10rem 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.elementsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
  padding-bottom: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  text-align: left;
  flex: 1;
}

.list span {
  font-size: 1.7rem;
  opacity: 0.3;
}

.elementsText {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
  flex: 1;
}

.elementsContainer h1 {
  font-size: 6rem;
  text-transform: uppercase;
  flex-wrap: wrap;
  line-height: 100%;
}

.elementsContainer p {
  font-size: 1.3rem;
  opacity: 0.45;
}

.elementsImages {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 images per row */
  gap: 1rem;
  flex: 1;
}

.imageContainer {
  position: relative;
  width: 15vw; /* Set a fixed size for uniformity */
  height: 15vh;
  overflow: hidden;
}

.elementsImages img {
  width: 15vw; /* Set a fixed size for uniformity */
  height: 18vh;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
  transition: opacity 0.3s ease;
}

.imageContainer .imageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 1.35rem;
  opacity: 0;
  text-align: center;
  transition: opacity 0.4s ease;
}

.imageContainer:hover img {
  opacity: 0;
  cursor: pointer;
}

.imageContainer:hover .imageText {
  opacity: 1;
}

.factsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.factItem {
  position: relative;
  background: rgba(255, 255, 255, 0.1); /* Light transparent background */
  padding: 2rem;
  border-radius: 10px;
  width: 30%;
  text-align: center;
}

.factNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.07);
  z-index: 0;
}

.factText {
  position: relative;
  font-size: 1rem;
  color: black;
  z-index: 1;
}

/* Products */
.menuContent {
  padding: 6rem 11rem 3rem 11rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.titleMenuContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
